@import url("https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap" rel="stylesheet");

.App {
	font-family: 'Fascinate Inline', cursive;
	font-family: Courier, monospace;
	text-align: center;
	background-image: linear-gradient(#882D60, #F4862A);
}

.App-body {
	min-height: 100vh;
	display: flex;
	flex-direction: right;
	justify-content: center;
	flex-wrap: wrap;
	padding: 20px;
	font-size: calc(10px +2vmin);
	color: white;
}

.size {
	max-height: 30rem;
}

hr {
	max-width: 40%;
}