@import url("https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap" rel="stylesheet");

.App {
	font-family: 'Fascinate Inline', cursive;
	text-align: center;
	background-color: #282c34;
}

.App-body {
	min-height: 75vh;
	display: flex;
	flex-direction: right;
	justify-content: center;
	flex-wrap: wrap;
	padding: 20px;
	font-size: calc(10px +2vmin);
	color: white;
}

.App-footer {
	min-height: 25vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	padding: 20px;
	font-size: calc(5px + 2vmin);
	color: white;
}

.contact {
	flex-direction: right;
	justify-content: center;
}

hr {
	max-width: 40%;
}